* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
.cut {
  margin-bottom: 1.38888889vw;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.73611111vw;
  font-size: 2.08333333vw;
  font-family: 华文隶书;
  font-weight: bold;
  color: #910012;
}
.cut::after,
.cut::before {
  content: '';
  background: #910012;
  flex: 1;
  height: max(0.34722222vw, 2px);
}
.cut {
  margin-top: 2.08333333vw;
}
#upForm {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.38888889vw auto;
  gap: 1.38888889vw;
}
.form_item {
  width: 100%;
  display: flex;
  margin: 0 auto;
  gap: 0.69444444vw;
}
.form_item label {
  width: 10%;
  font-size: 1.73611111vw;
  font-weight: bold;
}
.form_item input {
  width: 90%;
  height: 3.47222222vw;
  border-radius: 0.69444444vw;
  border: 0.06944444vw solid #797979;
  outline: none;
  font-size: 1.25vw;
  padding: 0.69444444vw;
}
.form_item input::placeholder {
  font-size: 1.25vw;
}
.form_item textarea {
  resize: none;
  width: 90%;
  height: 20.83333333vw;
  min-height: 120px;
  font-size: 1.25vw;
  outline: none;
  border-radius: 1.25vw;
  padding: 0.69444444vw;
}
.form_item img {
  width: 20.83333333vw;
  height: 13.88888889vw;
  cursor: pointer;
}
#submitBtn {
  display: block;
  margin: 0 auto;
  border: none;
  outline: none;
  width: 10.41666667vw;
  min-width: 80px;
  height: 3.47222222vw;
  background-color: #910012;
  border-radius: 0.34722222vw;
  text-decoration: none;
  text-align: center;
  line-height: 3.47222222vw;
  font-size: 1.66666667vw;
  color: #fff;
}
#submitBtn:hover {
  background-color: #ca0e24;
}
