* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
nav {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 3.47222222vw;
  width: 100%;
  padding-bottom: 0.34722222vw;
  gap: 27.77777778vw;
  position: relative;
}
nav .back {
  display: flex;
  justify-content: center;
  align-items: center;
  left: 1.38888889vw;
  gap: 0 0.69444444vw;
  position: absolute;
}
nav .back a {
  text-decoration: none;
  color: #1e87d7;
  font-size: 1.38888889vw;
}
nav p {
  flex: 0 0 auto;
  text-align: center;
  font-size: 1.38888889vw;
}
hr {
  margin-bottom: 1.38888889vw;
}
.infor,
.content,
.comments {
  width: 80%;
  margin: 0 auto 2.08333333vw;
}
.infor {
  display: flex;
  align-items: center;
  gap: 1.38888889vw;
}
.infor img {
  width: 4.16666667vw;
  height: 4.16666667vw;
  border-radius: 50%;
}
.infor .myName {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  gap: 0.34722222vw;
  font-family: 微软雅黑;
  font-size: 1.38888889vw;
}
.infor .myName .infor_detail {
  color: #797979;
  font-weight: lighter;
  font-size: 0.97222222vw;
}
.infor .myName .infor_detail span {
  padding-right: 0.27777778vw;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.08333333vw;
  margin-bottom: 2.77777778vw;
}
.content img {
  width: 31.94444444vw;
  height: 16.66666667vw;
}
.content p {
  width: 90%;
  font-size: 1.25vw;
  white-space: pre-wrap;
}
h2 {
  font-size: 2.08333333vw;
}
.interaction {
  margin-left: 15%;
  display: flex;
  align-items: center;
  gap: 5.55555556vw;
  justify-content: flex-start;
  margin-bottom: 1.04166667vw;
  font-size: 1.25vw;
}
.like,
.comment,
.collection {
  display: flex;
  align-items: center;
  gap: 0.69444444vw;
  cursor: pointer;
}
.iconfont {
  font-size: 2.08333333vw;
}
.like .iconfont {
  color: #fa4134;
}
.collection .iconfont {
  color: #ffcf26;
}
.collection.active .iconfont {
  font-weight: 900;
}
.share {
  color: #a9b4c0;
  cursor: pointer;
}
#total {
  margin-left: 5%;
  white-space: pre-wrap;
  margin-bottom: 1.38888889vw;
  font-size: 1.38888889vw;
  color: #797979;
  font-family: 微软雅黑;
  font-weight: bold;
}
.con_infor {
  margin: 1.04166667vw 0 0;
  margin-left: 5%;
  display: flex;
  align-items: flex-start;
  gap: 1.38888889vw;
}
.con_infor img {
  width: 3.47222222vw;
  height: 3.47222222vw;
  border-radius: 50%;
}
.con_detail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.34722222vw;
  font-size: 1.25vw;
}
.con_detail .name_ {
  font-family: 微软雅黑;
  font-weight: bold;
  font-size: 1.11111111vw;
}
.con_detail .con_time {
  font-size: 0.83333333vw;
  font-family: 微软雅黑;
  font-weight: lighter;
}
.cut_total {
  width: 80%;
  height: 0.06944444vw;
  margin: 0 auto 1.04166667vw;
  color: #797979;
}
.cut_p {
  width: 60%;
  height: 0.06944444vw;
  margin-left: 5%;
  margin-top: 0.69444444vw;
  color: #797979;
}
.collect {
  display: none;
  width: 24.30555556vw;
  height: 6.94444444vw;
  border-radius: 1.38888889vw;
  box-shadow: 0.34722222vw 0.34722222vw 0.69444444vw rgba(0, 0, 0, 0.5);
  background-color: #ffdf25;
  font-size: 2.43055556vw;
  line-height: 6.94444444vw;
  text-align: center;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
}
.collect.show {
  display: block;
}
