* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
.wrapper {
  width: 69.44444444vw;
  height: 48.61111111vw;
  margin: 0 auto;
  background-color: #fafafa;
  border-radius: 1.04166667vw;
  box-shadow: 0.34722222vw 0.34722222vw 0.34722222vw rgba(0, 0, 0, 0.4);
}
.title {
  padding: 2.08333333vw 3.47222222vw;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2.08333333vw;
}
.title a {
  display: block;
  flex-shrink: 0;
  margin-right: 0.69444444vw;
  text-decoration: none;
  font-size: 2.08333333vw;
  color: #910012;
  font-weight: bold;
}
.title span {
  flex: 1;
  color: #000;
  font-size: 1.80555556vw;
  font-weight: bold;
  font-family: 黑体;
  text-align: center;
}
.content {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1.38888889vw;
}
.intro {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2.77777778vw;
}
.intro p {
  font-size: 1.52777778vw;
}
.intro p:first-child {
  width: 5.20833333vw;
  height: 2.77777778vw;
  border-radius: 1.38888889vw;
  background-color: #ff2b2b;
  color: #fff;
  text-align: center;
  line-height: 2.77777778vw;
}
.purchaseFrom {
  display: flex;
  flex-direction: column;
  gap: 2.08333333vw;
  justify-content: flex-start;
  margin-bottom: 2.08333333vw;
}
.purchaseFrom label {
  flex: 0 0 auto;
  text-align: right;
  color: #910012;
  font-size: 1.80555556vw;
  font-weight: bold;
}
.purchaseFrom input,
.purchaseFrom select {
  width: 10.41666667vw;
  height: 2.77777778vw;
  outline: none;
  flex: 1;
  font-size: 1.11111111vw;
  padding: 0.69444444vw;
  border: 0.06944444vw solid #797979;
}
.purchaseFrom input::placeholder,
.purchaseFrom select::placeholder {
  color: #aaa;
}
#way {
  width: 33.33333333vw;
  color: #aaa;
}
#phone,
#address {
  width: 19.44444444vw;
}
#turn {
  align-self: center;
  text-decoration: none;
  width: 34.72222222vw;
  height: 4.16666667vw;
  color: #333;
  font-size: 1.73611111vw;
  font-weight: bold;
  text-align: center;
  line-height: 4.16666667vw;
  border: 0.06944444vw solid #000;
  border-radius: 0.69444444vw;
  box-shadow: 0.34722222vw 0.34722222vw 0.34722222vw rgba(24, 24, 24, 0.4);
}
