//out :../css/putProduct.css

@import 'post';

#putForm {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: (20/14.4vw) auto;
    gap: (20/14.4vw);
}

.iconfont.icon-renminbi {
  font-size: (40/14.4vw) ;
  color: #910012 ;
}

#submitBtn{
        border: none;
        display: block;
        margin: 0 auto;
        width: (150/14.4vw);
        min-width: 80px;
        height: (50/14.4vw);
        background-color: #910012;
        border-radius: (5/14.4vw);
        text-decoration: none;
        text-align: center;
        line-height: (50/14.4vw);
        font-size: (24/14.4vw);
        color: #fff;

        &:hover {
            background-color: #ca0e24;
        }
    }