* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
body {
  width: 76.38888889vw;
  height: 41.66666667vw;
  margin: 0 auto ;
  padding-top: 2.77777778vw;
  background-color: #fff;
  border-radius: 1.38888889vw;
  box-shadow: 0.34722222vw 0.34722222vw 0.69444444vw #737272;
}
.search {
  width: 80%;
  height: 5.55555556vw;
  margin: 0 auto 1.38888889vw;
  padding: 0.69444444vw;
  display: flex;
  align-items: center;
  border: 0.20833333vw solid #000;
  border-radius: 2.77777778vw;
  overflow: hidden;
}
.search .iconfont {
  text-decoration: none;
  font-size: 3.47222222vw;
  color: #000;
  margin-right: 0.83333333vw;
}
.search input {
  height: 100%;
  padding: 1.38888889vw 0.55555556vw;
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  font-size: 1.38888889vw;
  font-family: 华文中宋;
}
.search input ::placeholder {
  font-size: 1.38888889vw;
}
.search button {
  width: 10.41666667vw;
  height: 4.16666667vw;
  border: none;
  border-radius: 2.08333333vw;
  background-color: #B80016;
  color: #fff;
  cursor: pointer;
  text-align: center;
  font-family: 华文中宋;
  font-weight: bold;
  font-size: 1.52777778vw;
}
.search button:hover {
  background-color: #901212;
}
p {
  padding: 2.08333333vw;
  margin-left: 10%;
  color: #B80016;
  font-family: 华文隶书;
  font-size: 2.08333333vw;
  font-weight: bold;
}
.history {
  width: 68%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1.38888889vw;
  counter-reset: num 0;
}
.history a {
  text-decoration: none;
  font-family: 华文中宋;
  font-size: 1.38888889vw;
  color: #000;
  font-weight: bold;
  counter-increment: num;
  display: flex;
  gap: 0.34722222vw;
}
.history a::before {
  content: counter(num) ".";
  font-weight: bold;
  white-space: nowrap;
}
#back {
  display: block;
  margin: 1.04166667vw 1.04166667vw 0 auto;
  width: 13.88888889vw;
  height: 2.77777778vw;
  border: 0.06944444vw solid #000;
  border-radius: 1.04166667vw;
  box-shadow: 0.34722222vw 0.34722222vw 0.69444444vw rgba(0, 0, 0, 0.5);
  font-size: 1.38888889vw;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  line-height: 2.77777778vw;
  color: #000;
}
.suggest-box {
  width: 68%;
  margin: 0 auto;
  background: #fff;
  border: 2px solid #000;
  border-top: none;
  border-radius: 0 0 1.38888889vw 1.38888889vw;
  display: none;
  overflow: hidden;
}
.suggest-box .suggest-item {
  padding: 1.11111111vw 1.38888889vw;
  font-family: 华文中宋;
  font-size: 1.38888889vw;
  cursor: pointer;
}
.suggest-box .suggest-item:hover {
  background-color: #eee;
}
