* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
.cut {
  margin-bottom: 1.38888889vw;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.73611111vw;
  font-size: 2.08333333vw;
  font-family: 华文隶书;
  font-weight: bold;
  color: #910012;
}
.cut::after,
.cut::before {
  content: '';
  background: #910012;
  flex: 1;
  height: max(0.34722222vw, 2px);
}
body {
  background-color: #f7f7f7;
  padding-bottom: 4.16666667vw;
}
.cut {
  margin-top: 1.73611111vw;
  margin-bottom: 1.73611111vw;
}
.item {
  width: 83.33333333vw;
  height: 15.27777778vw;
  margin: 0 auto 1.73611111vw;
  padding: 1.38888889vw 2.08333333vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2.77777778vw;
  background-color: #fff;
  box-shadow: 0.34722222vw 0.34722222vw 0.34722222vw rgba(100, 100, 100, 0.1);
}
.item img {
  width: 12.5vw;
  height: 10.41666667vw;
}
.item .right {
  display: flex;
  flex-direction: column;
  gap: 1.73611111vw;
  font-size: 1.59722222vw;
  font-weight: bold;
  font-family: 华文中宋;
}
.total {
  position: fixed;
  width: 100%;
  height: 4.16666667vw;
  bottom: 0;
  left: 0;
  box-shadow: 0.34722222vw 0.34722222vw 0.34722222vw rgba(100, 100, 100, 0.1);
  z-index: 20;
  background-color: #fff;
  display: flex;
  gap: 4.16666667vw;
  justify-content: flex-end;
  align-items: center;
}
.total p {
  font-family: 华文中宋;
  font-weight: bold;
  font-size: 1.38888889vw;
}
.total a {
  margin-right: 1.38888889vw;
  display: block;
  width: 12.5vw;
  height: 2.77777778vw;
  text-decoration: none;
  line-height: 2.77777778vw;
  text-align: center;
  color: #333;
  font-size: 1.38888889vw;
  font-weight: bold;
  box-shadow: 0.34722222vw 0.34722222vw 0.34722222vw rgba(0, 0, 0, 0.5);
  border: 0.06944444vw solid #000;
  border-radius: 1.04166667vw;
}
