* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
.title {
  padding: 5.55555556vw 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.title a {
  position: absolute;
  left: 20.83333333vw;
  font-size: 2.77777778vw;
  color: #910012;
  font-weight: bold;
  text-decoration: none;
}
.title em {
  position: relative;
  left: 1.04166667vw;
  text-align: center;
  font-size: 2.77777778vw;
  color: #910012;
  font-weight: bold;
}
form {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2.08333333vw;
  align-items: center;
}
.form_item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2.08333333vw;
  width: 100%;
}
.form_item label {
  width: 8.33333333vw;
  font-size: 1.52777778vw;
  flex-shrink: 0;
  font-weight: bold;
}
input {
  width: 60%;
  height: 3.81944444vw;
  border-radius: 1.73611111vw;
  border: 0.06944444vw solid #797979;
  font-size: 1.38888889vw;
  outline: none;
  padding: 0 1.38888889vw;
  line-height: 3.47222222vw;
}
input::placeholder {
  font-size: 1.38888889vw;
}
.button {
  display: block;
  text-decoration: none;
  margin: 1.38888889vw auto;
  width: 13.88888889vw;
  height: 3.47222222vw;
  text-align: center;
  color: #333;
  border: 0.06944444vw solid #000;
  box-shadow: 0.20833333vw 0.20833333vw 0.34722222vw #5b5b5b;
  border-radius: 1.04166667vw;
  font-size: 1.73611111vw;
}
.button:hover {
  background-color: #8f8e8e;
}
img {
  width: 13.88888889vw;
  height: 8.33333333vw;
}
